<?xml version="1.0" encoding="UTF-8"?>
<server description="WebSphere Cafe OpenLiberty Server - Java 11">
    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>microProfile-4.1</feature>
    </featureManager>
    
    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" />
    
    <application location="websphere-cafe.war" contextRoot="/websphere-cafe" />
    
    <dataSource id="WebSphereCafeDB" jndiName="jdbc/WebSphereCafeDB">
        <jdbcDriver>
            <library>
                <fileset dir="${wlp.install.dir}/dev" includes="derby*.jar"/>
            </library>
        </jdbcDriver>
        <properties.derby.embedded databaseName="memory:WebSphereCafeDB" createDatabase="create"/>
    </dataSource>
    
    <!-- Java 11 optimized JVM options -->
    <jvmOptions>-Xms128m</jvmOptions>
    <jvmOptions>-Xmx512m</jvmOptions>
    <jvmOptions>-XX:+UseG1GC</jvmOptions>
    <jvmOptions>-XX:MaxGCPauseMillis=200</jvmOptions>
</server>